body{
    background: black;
    padding: 0;

}

/*Nav Bar*/
.nav{
    /*border: 1px solid white;*/
    height: 5%;
}
.nav>.navItem{
    color: white;
    margin: 15px;
    position: relative;
    bottom: 25%;
    left: 58%;
    text-decoration: none;
    font-size: 1.2em;
}